# Node / general
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Env
.env
.env.local
.env.*.local

# Build / logs
dist/
build/
coverage/
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Mac
*.DS_Store

# Optional: if you have client and server folders
/client/node_modules/
/server/node_modules/

/client/build/
/server/.cache/
